PostgreSQL_PostGIS/Abril_BW_Frecuencia_Sequias_VIDECI.sql
PostgreSQL_PostGIS/Abril_BWII_BH_QA.sql
PostgreSQL_PostGIS/Agosto_BW_Frecuencia_Sequias_VIDECI.sql
PostgreSQL_PostGIS/Agosto_BWII_BH_QA.sql
PostgreSQL_PostGIS/Calibracion_BWII_BH_IA.sql
PostgreSQL_PostGIS/Capital_municipal_BWII_BH_IA.sql
PostgreSQL_PostGIS/Caudal_BW_Frecuencia_Sequias_VIDECI.sql
PostgreSQL_PostGIS/Caudal_especifico_BWII_BH_CESP.sql
PostgreSQL_PostGIS/Cobertura_BWII_Clima_BH.sql
PostgreSQL_PostGIS/corto_plazo_precipitacion_BW_Cambio_PPT_Sequia.sql
PostgreSQL_PostGIS/corto_plazo_precipitacion_BW_Proyeccion_P.sql
PostgreSQL_PostGIS/corto_plazo_temperatura_BW_Cambio_T_Sequia.sql
PostgreSQL_PostGIS/Diciembre_BW_Frecuencia_Sequias_VIDECI.sql
PostgreSQL_PostGIS/Diciembre_BWII_BH_QA.sql
PostgreSQL_PostGIS/DJF_BW_Indice_Combinado_1.sql
PostgreSQL_PostGIS/Enero_BW_Frecuencia_Sequias_VIDECI.sql
PostgreSQL_PostGIS/Enero_BWII_BH_QA.sql
PostgreSQL_PostGIS/Escorrentia_BWII_BH_ESCT.sql
PostgreSQL_PostGIS/Evapotranspiracion_BWII_BH_PPT.sql
PostgreSQL_PostGIS/eventos_sequia_agro_BW_Cambio_SPEI.sql
PostgreSQL_PostGIS/eventos_sequia_agro_Extrema_BW_Cambio_SPEI.sql
PostgreSQL_PostGIS/eventos_sequia_agro_Leve_BW_Cambio_SPEI.sql
PostgreSQL_PostGIS/eventos_sequia_agro_Moderada_BW_Cambio_SPEI.sql
PostgreSQL_PostGIS/eventos_sequia_agro_Severa_BW_Cambio_SPEI.sql
PostgreSQL_PostGIS/Febrero_BW_Frecuencia_Sequias_VIDECI.sql
PostgreSQL_PostGIS/Febrero_BWII_BH_QA.sql
PostgreSQL_PostGIS/Humedad_BWII_Clima_BH.sql
PostgreSQL_PostGIS/Indice_de_aridez_BWII_BH_IA.sql
PostgreSQL_PostGIS/Indice_de_aridez_BWII_BH_PPT.sql
PostgreSQL_PostGIS/JJA_BW_Indice_Combinado_1.sql
PostgreSQL_PostGIS/Julio_BW_Frecuencia_Sequias_VIDECI.sql
PostgreSQL_PostGIS/Julio_BWII_BH_QA.sql
PostgreSQL_PostGIS/Junio_BW_Frecuencia_Sequias_VIDECI.sql
PostgreSQL_PostGIS/Junio_BWII_BH_QA.sql
PostgreSQL_PostGIS/Lago_BWII_BH_IA.sql
PostgreSQL_PostGIS/Lagos_BWII_BH_QA.sql
PostgreSQL_PostGIS/Limite_municipal_BWII_Clima_BH.sql
PostgreSQL_PostGIS/Limite_nacional_BWII_BH_IA.sql
PostgreSQL_PostGIS/Limites_internacionales_BWII_Clima_BH.sql
PostgreSQL_PostGIS/Macrocuencas_BWII_BH_IA.sql
PostgreSQL_PostGIS/Macrocuencas_BWII_BH_IA2.sql
PostgreSQL_PostGIS/MAM_BW_Indice_Combinado_1.sql
PostgreSQL_PostGIS/Marzo_BW_Frecuencia_Sequias_VIDECI.sql
PostgreSQL_PostGIS/Marzo_BWII_BH_QA.sql
PostgreSQL_PostGIS/Mayo_BW_Frecuencia_Sequias_VIDECI.sql
PostgreSQL_PostGIS/mediano_plazo_precipitacion_BW_Cambio_PPT_Sequia.sql
PostgreSQL_PostGIS/mediano_plazo_precipitacion_BW_Proyeccion_P.sql
PostgreSQL_PostGIS/mediano_plazo_temperatura_BW_Cambio_T_Sequia_.sql
PostgreSQL_PostGIS/Municipios_BW_Indice_Combinado_1.sql
PostgreSQL_PostGIS/Noviembre_BW_Frecuencia_Sequias_VIDECI.sql
PostgreSQL_PostGIS/Noviembre_BWII_BH_QA.sql
PostgreSQL_PostGIS/Nubosidad_BWII_Clima_BH.sql
PostgreSQL_PostGIS/Octubre_BW_Frecuencia_Sequias_VIDECI.sql
PostgreSQL_PostGIS/Octubre_BWII_BH_QA.sql
PostgreSQL_PostGIS/Precipitacion_BWII_BH_PPT.sql
PostgreSQL_PostGIS/Precipitacion_BWII_Clima_BH.sql
PostgreSQL_PostGIS/Regiones_Hidroclimaticas_BW_ENSO.sql
PostgreSQL_PostGIS/Rios_BW_Cambio_PPT_Sequia.sql
PostgreSQL_PostGIS/Rios_BWII_BH_IA.sql
PostgreSQL_PostGIS/Ríos_BW_Indice_Combinado_2.sql
PostgreSQL_PostGIS/Salares_BW_Cambio_SPEI.sql
PostgreSQL_PostGIS/Septiembre_BW_Frecuencia_Sequias_VIDECI.sql
PostgreSQL_PostGIS/Septiembre_BWII_BH_QA.sql
PostgreSQL_PostGIS/Sequia_SPEI_DJF_BW_Cambio_SPEI.sql
PostgreSQL_PostGIS/Sequia_SPEI_JJA_BW_Cambio_SPEI.sql
PostgreSQL_PostGIS/Sequia_SPEI_MAM_BW_Cambio_SPEI.sql
PostgreSQL_PostGIS/Sequia_SPEI_SON_BW_Cambio_SPEI.sql
PostgreSQL_PostGIS/SON_BW_Indice_Combinado_1.sql
PostgreSQL_PostGIS/T_proyeccion_2030__BW.sql
PostgreSQL_PostGIS/T_proyeccion_2050_BW.sql
PostgreSQL_PostGIS/Temperatura_BWII_Clima_BH.sql
PostgreSQL_PostGIS/Viento_BWII_Clima_BH.sql
