body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.homepage {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

/* Panel Izquierdo */
.panel-izquierdo {
  width: 4%;
  background-color: #f5f5f5;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flags img {
  height: 200px;
  margin-right: 0.5rem;
}

.country img {
  height: 400px;
  margin-right: 0.5rem;
}

.panel-central {
  width: 41%;
  position: relative;
  background-color: #cacdcf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.fondo-ilustrado img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 0.3;
}

.contenido-central {
  position: relative;
  z-index: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.texto-institucional {
  background-color: rgba(255,255,255,0.9);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.botones-tematicos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.boton-tema {
  background-color: #0077c8;
  color: white;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  text-align: left;
  transition: background-color 0.3s ease;
}

.boton-tema:hover {
  background-color: #005fa3;
}

.logos-central {
  display: flex;
  justify-content: start;
  gap: 1rem;
  margin-top: 2rem;
}

.logos-central img {
  max-height: 50px;
}



/* Panel Derecho */
.panel-derecho {
  width: 55%;
  position: relative;
  overflow: hidden;
}

.imagen-fondo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-titulo {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  background-color: rgba(0,0,0,0.5);
  color: white;
  padding: 1rem 2rem;
  border-radius: 8px;
}

.overlay-titulo h1 {
  margin: 0;
  font-size: 2rem;
  line-height: 1.3;
}

.logo-superior {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.logo-superior img {
  max-width: 210px;
}